body {
    background-color: black;
    
}

h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
}

canvas {
    border: 10px solid white;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}