body {
    background-color: black;
    
}

h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
}

hr {
color: white;    
}

#lose {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    position:absolute;
    left:400px;top:300px;    
}

#win {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    position:absolute;
    left:400px;top:300px;    
}


#line{
    border: 100px solid white;

}

canvas {
    border: 10px solid white;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}